<p>
  Displaying {{ items.length }} items.
</p>
<table>
  <thead>
  <tr>
    <th data-field="name">Name</th>
    <th data-field="name">Description</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>

    <td>
      <a [routerLink]="['/items', item.id]">
        Edit
      </a>
    </td>
    <td>
      <a (click)="deleteItem(item)" href="">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div style="bottom: 45px; right: 24px;">
  <a routerLink="/items/new">
    New
  </a>
</div>
